*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: purple;
    padding: 20px;
}
nav{
    background-image: linear-gradient(180deg, orange, yellow);
    color: black;
    place-items: center;
}

.items{
    display: grid;
   grid-template-columns: repeat(3, fr);
    padding:30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    border:none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);
}
@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}
/*menu*/
#menu{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: verdana;
}
#menu_row{
    display: flex;
    padding: 0 100px 0 100px;
}
#menu_col{
    box-shadow: 2px  #bbb;
    border: 1px solid rgb(140, 139, 139);
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    flex: 1;
}
#menu_col h2{
    background-color: rgb(246, 95, 95);
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}
#image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid orange;
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}
#about{
    padding: 25px 0 25px 0;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     padding: 0 100px 0 100px;
}
.about_col{
    flex: 1;
}
#about_img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}
#about_img img{
width: 100%;
height:100%;
border-radius: 50%;
object-fit: fill;
}
.about_col h1{
   text-align: center;
   font-family: cursive;
}
.about_col p{
    text-align: justify;
    font-weight: bold;
}
@media screen and {max-width: 360px){
    html{
        font-size: 70%;
    }
    
}
    
}
    




















